body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    text-align: center;
}

header {
    padding: 1em 2em;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 600px;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-centrado label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-centrado input, 
.form-centrado button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-centrado button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.form-centrado button:hover {
    background-color: #45a049;
}
